.container {
  max-width: 500px;
  margin:0 auto;
  background-color: white;
  text-align: center;
}

.validation {
  color:red;
  font-size: 9px;
}

.invalid {
  border: 1px solid red;
  border-radius: 8px;
  background-color: rgba(253, 144, 144,0.4) ;
}

